#slide {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.simple-trans-main > div {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform, opacity;
}
